div.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

div.header.nav {
  margin-bottom: 10px;
  width: 100%;
  background-color: lightgray;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
}

div.footer.nav {
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: lightgray;
}

div.signature.nav-item {
  padding: .5rem 1rem;
}
